.container {
    display: flex;
    justify-content: center;
}

ul {
    margin: 10px;
    display: flex;
    width: 50%;
}

li {
    flex-grow: 1;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 5px;
    font-weight: 450;
    color: #616161;
    user-select: none;
    transition: 300ms;
    text-align: center;
    border-right: none;
    border: 1px solid #E0E0E0;
}

li:hover {
    color: white;
    background-color: #757575;
}

li:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #E0E0E0;
}

li:first-child {
    border-radius: 5px 0 0 5px;
}