.main {
    width: 23%;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 0px #EEEEEE;
}

.header {
    display: flex;
    padding: 15px 10px;
    align-items: center;
    text-transform: uppercase;
}

.status {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    border-radius: 50%;
}

.title {
    margin-left: 5px;
}

.body {
    height: 200px;
    background-color: gray;
}

.body>img {
    width: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    padding: 15px 10px;
    flex-direction: column;
}

.footer_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_subtitle {
    font-size: 16px;
    color: #BDBDBD;
}

@media screen and (max-width: 992px) {
    .main {
        width: 46%;
    }
}

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
    }
}