.body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'quicksand';
    overflow: hidden;
}

#modal-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
}

.button:hover~.inner-modal {
    animation: pulse .3s 2;
}

.button {
    font-family: 'quicksand';
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    text-align: left;
    height: 50px;
    width: 200px;
    background-color: rgba(0, 0, 0, .7);
    color: #f3ece2;
    border-radius: 3px;
    border: 0px none;
    padding: 0 auto;
    padding-left: 15px;
    font-size: 18px;
    transition: background-color .3s;
    outline: 0 none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, .8);
}

.innerModal {
    position: absolute;
    z-index: 4000;
    margin-top: -32px;
    margin-left: 170px;
    z-index: 3000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f3ece2;
    -webkit-transition: all 350ms cubic-bezier( 0.680, -0.550, 0.265, 1.18);
}

.innerModalOpen {
    position: absolute;
    /* height: 100%;
    width: 100%; */
    border-radius: 3px;
    /* margin-top: -110%;
    margin-left: -100%; */
    -webkit-box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms cubic-bezier( 0.680, -0.165, 0.265, 1.55);
}

.contentWrapper {
    padding: 20px;
    text-align: center;
    visibility: visible;
    opacity: 0;
    -webkit-transition: all .2s;
}

.contentOpen {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-out 350ms;
}

.faTimesCircle {
    z-index: 4000;
    font-size: 35px;
    color: #2c3e32;
    float: right;
    transition: opacity .3s;
    cursor: pointer;
}

.faTimesCircle:hover {
    animation: pulse2 .3s 2;
}

.modalContent {
    margin-top: 165px;
    font-size: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}